.masaiInCiriculumHeading{
    text-align: center;
    
    align-items: center;
    font-size: 50px;
}
.masaiInCiriculumHeading >span{
    color:  #ed0331;
}
.firstVector{
    position: absolute;
    width: 264px;
    height: 15px;
    left: 600px;
    top:100px
}
.secondVector{
    position: absolute;
    width: 264px;
    height: 15px;
    left: 925px;
    top:100px;
    z-index:-1;
}