.OurParterHeading{
    text-align:center;
    line-height:5px;
  
}
.childImage{
   border-radius: -10px -10px -10px -10px;
   margin: 10px;
    width: 100%;
    height: fit-content;

}
.childImage img {
    
    width: 100%;
    height: 300px;
}
.textColor{
    color:#ED0331
}
.Image{
    width: 200px;
}

.JoinButton{
    padding:20px 50px ;
    margin: 20px 20px;
    background-color: #ED0331;
    color: #fff;
    border:none;
    border-radius: 10px;
    font-size: 14px;
    
}
.ButtonDiv{
    text-align: center;
}

.sliderImage{
    margin: 10px 10px;
}