.certificate{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:20px;
    margin:50px;
    padding:10px;
   
    background-color: #F2F6FF;
}

.certificate >div:nth-child(1) >img{
    width:620px;
    height:auto;
}
.certificate span{
    color:#f53a62;
    font-size: 40px;
}
.certificate h1{
    font-size: 35px;
}
.certificate >div:nth-last-child(1){
    width: 560px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 30px;

   
    
}
.certificate >div:nth-last-child(1) > img{
    width:240px;
    margin-top: -8px;
}
.certificate >div:nth-last-child(1) > h3{
    color:rgb(73, 73, 73);
    font-weight: 400;
    font-size: 17px;
}