
.mainheading{
    text-align: center; 
    align-items: center;
    font-size: 20px;
    margin-bottom: -1%;
    font-weight: bold;

}

.mainheading2{
    text-align: center; 
    align-items: center;
    margin-top: 2%;
}

.mainheading2 >span{
    color:  #ed0331;
}

.mainheading2 >span >img{
    position: absolute;
    
}

.courseContainer{
    display:flex;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: repeat(2, 1fr); */
    margin:2% 0 2% 0;
    /* align-items: center; */
    place-items: center;
 
}

.viewAllCourses{
    border: none;
    color: white;
    border-radius:8px;
    padding:12px 16px;
    background:#ED0331;
    font-size :14px;
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .courseContainer{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        margin:2% 0 2% 0;
        /* gap:3%; */
        justify-content:center;
    
    }
}


@media only screen and (max-width: 480px) {
   
  }